*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*font-family: 'Bitter', serif;
font-family: 'Roboto Slab', serif;
*/
/*BODY INDEX*/


/*HEADER INDEX*/
body{
    margin: 0;
}
.headerContainer{
    display: flex;
    background-color: #3d8f5d;
    align-items: center;
    flex-flow: row wrap;
}
.sectionHeader{
    display: flex;
    flex-flow: row wrap;
}

.tituloIndex{
    display: flex;
    padding: 30px;
    text-align:center;
    margin: 30px;
    font-family: 'Bitter', serif;
}

.containerLogo{
    align-items: center;
    margin: 10px;
}
.logoMartinesa{
    display: flex;
    padding: 10px;
    height:150px;
    align-items: center;
}
.barraInicio{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.barraInicio a{
    font-weight: 400;
    padding-right: 50px;
    margin-left: 10px;
    font-family: 'Roboto Slab', serif;
}
.blanco{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: green;
}

.logoMartinesa h1{
    font-family: 'Bitter', serif;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    display: flex
}

/*MAIN INDEX*/
.indexMain{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #82e89d;
}
.sectionMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerLorem{
    display: flex;
    flex-wrap: wrap;
}
.loremMain{
    display: flex;
    flex-flow: row wrap;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-align: center;
}

.cartaNegra{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-decoration: none;
    color: black;

}
main div a:hover{
    color: #3d8f5d;
}
.volver{
    margin: 50px;
    color: black;
}
.containerEscudo{
    display: flex;
    flex-direction: column;
}
.baraderoEscudo{
    width: 100px;
    height: 100px;
}


/*FOOTER INDEX*/

footer{
    text-align: center;
    background-color: #3d8f5d
}
footer section a{
    text-decoration: none;
}
.containerFooter{
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 15px;
}

.mapaMartinesa{
    height: 70px;
    width: 100px;
}


/*----------- RESERVA --------- */

/*HEADER RESERVA*/

.reservaHeader{
    display: flex;
    background-color: #3d8f5d;
    align-items: center;
    flex-flow: row wrap;
}
.headerSection{
    display: flex;
    flex-flow: row wrap;
}
.reservaTitulo{
    display: flex;
    padding: 30px;
    text-align:center;
    margin: 30px;
    font-family: 'Bitter', serif;
}
/*MAIN RESERVA*/
.mainReserva{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #82e89d;
}
.sectionMainReserva{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.divLoremReserva{
    display: flex;
    flex-wrap: wrap;
}

.loremReserva{
    display: flex;
    flex-flow: row wrap;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-align: center;
}

.volverTodo{
    display: flex;
    flex-flow: column wrap;
    text-decoration: none;
    color: black;
    font-size: xx-large;
    margin: 40px;
}

.divVolverReserva{
    display: flex;
    text-align: center;
    align-items: center;
}
.logoReserva{
    width: 100px;
    height: 100px;
}

/*FOOTER RESERVA*/

.containerFooterReserva{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

.footerReserva{
    display: flex;
    flex-flow: column wrap;
    font-family: 'Roboto Slab', serif;
    padding: 21px;
    margin: 16px;
}






@media (max-width:768px){
.logoMartinesa{
    height: 100px;
}
.tituloIndex{
    font-size: 15px;
    padding: 0px;
}
.loremMain{
    font-size: 10px;
}
.loremReserva{
    font-size: 20px;
}
.reservaTitulo{
    font-size: 40px;
}
}



@media (max-width:320px){
.tituloIndex{
    font-size: 10px;
}
.logoMartinesa{
    height: 60px;
}
.barraInicio{
    font-size: 10px;
}
.loremReserva{
    font-size: 10px;
}
.footerReserva{
    font-size: 15px;
}
.reservaTitulo{
    font-size:small;
}
}

