@media(max-width:320px){
    header{
        .logo img{
            display: none;
        }
        .logo h1{
            font-size: 15px;
        }
        nav ul a{
            display: flex;
            font-size: 10px;
            text-align: center;
            justify-content: center;
        }
    }
    .mainIndex{
        p{
            font-size: 20px;
            font-weight: 600;
        }
        a{
            font-size: 20px;
        }
        img{
            height: 50px;
            width: 50px;
        }
        iframe{
            width: 150px;
            height: 150px;
        }
    }
    .footerIndex{
        p{
            font-size: 10px
        }
    }
    .reservaHeader{
        h2{
            font-size: 30px;
        }
    }
    .mainReserva{
        p{
            font-size: 20px;
            font-weight: 600;
        }
        a{
            font-size: 30px;
        }
        img{
            width: 250px;
            height: 100x;
        }
    }
    .footerReserva{
        nav ul a{
            font-size: 15px;
            margin: 5px;
        }
    }
    .headerLocal{
        h2{
            font-size: 30px;
        }
    }
    .mainLocal{
        p{
            font-size: 20px;
            font-weight: 600;
        }
        img{
            width: 250px;
            height: 100px;
        }
        iframe{
            width: 150px;
            height: 150px;
        }
        a{
            font-size: 30px;
        }
    }
    .footerLocal{
        nav ul a{
            font-size: 15px;
            margin: 3px;
        }
    }
    .headerEquipo{
        h2{
            font-size: 30px;
        }
    }
    .mainEquipo{
        section p{
            font-size: 20px;
            font-weight: 600;
        }
        section a{
            font-size: 30px;
            font-weight: 600;
            margin: 0px;
        }
    }
    .footerEquipo{
        nav ul a{
            font-size: 20px;
            margin: 3px;
        }
    }
    .headerPys{
        h2{
            font-size: 30px
        }
    }
    .mainPys{
        section p{
            font-size: 20px;
            font-weight: 600;
        }
        section a{
            font-size: 30px;
            font-weight: 500;
        }
    }
    .footerPys{
        nav ul a{
            font-size: 20px;
            margin: 5px
        }
    }
    .headerTcn{
        h2{
            font-size: 30px;
        }
    }
    .mainTcn{
        section p{
            font-size: 20px;
            font-weight: 600;
        }
        section a{
            font-size: 30px;
            font-weight: 500;
        }
    }
    .footerTcn{
        nav ul a{
            font-size: 15px;
            margin: 3px
        }
    }
    .headerCarta{
        h2{
        font-size: 30px;
        }
    }
    .mainCarta{
        section p{
            font-size: 20px;
            font-weight: 600;
        }
        section a{
            font-size: 30px;
            font-weight: 500;
        }
    }
    .footerCarta{
        nav ul a{
            font-size: 15px;
            margin: 3px;
        }
    }
}
