/*INDEX (PAGINA PRINCIPAL INICIO)*/
.footerIndex{
    background-color: $backgroundColorPincipal;
    section{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    div a{
        text-decoration: none;
        color: black;
    }
}

/*************RESERVA**********/
.footerReserva{
    background-color: $backgroundColorPincipal;
    height: 55px;
    section{
        display: flex;
        align-items: center;
        color: black;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    nav ul a{
        margin: 50px;
        text-decoration: none;
        color: black;
        font-size: 40px;
    }
}

/********LOCAL********/
.footerLocal{
    background-color: $backgroundColorPincipal;
    section{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }
    nav ul a{
        text-decoration: none;
        color: black;
        margin: 50px;
        font-size: 35px;
    }
}

/******EQUIPO*******/
.footerEquipo{
    background-color: $backgroundColorPincipal;
    height: 55px;
    section{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    nav ul a{
        text-decoration: none;
        color: black;
        margin: 50px;
        font-size: 35px;
    }
}

/******PRODUCTOS Y SERVICIOS********/
.footerPys{
    background-color: $backgroundColorPincipal;
    section{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }
    nav ul a{
        text-decoration: none;
        color: black;
        margin: 50px;
        font-size: 35px;
    }
}

/*****TRABAJA CON NOSOTROS******/
.footerTcn{
    background-color: $backgroundColorPincipal;
    section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    nav ul a{
        text-decoration: none;
        color: black;
        font-size: 35px;
        margin: 90px;
    }
}

/******CARTA*******/
.footerCarta{
    background-color: $backgroundColorPincipal;
    height: 70px;
    section{
        display: flex;
        align-items: center;
        text-align: center;
    }
    nav ul a{
        text-decoration: none;
        color: black;
        font-size: 35px;
        margin: 90px;
    }
}