/*INDEX (PAGINA PRINCIPAL INICIO)*/
header{
    background-color: $backgroundColorPincipal;
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        width: 200px;
        height: 120px;
        display: flex;
    }
    .logo h1{
        display: flex;
        text-align: center;
        text-decoration: none;
        font-family: 'Roboto Slab', serif;
        font-size: 50px;
    }
    section{
        @include flex
    }
    a{
        display: inline;
        margin: 10px;
        text-decoration: none;
        color: black;
    } 
    .navBar{
        display: flex;
    }
}

/*************RESERVA**********/

.reservaHeader{
    section{
        @include flex
    }
    h2{
        font-size: 100px;
        font-family: 'Roboto Slab', serif;
    }
}


/********LOCAL********/

.headerLocal{
    section{
        @include flex
    }
    h2{
        font-size: 100px;
        font-family: 'Roboto Slab', serif;
    }
}

/******EQUIPO*******/

.headerEquipo{
    section{
        @include flex
    }
    h2{
        font-size: 100px;
        font-family: 'Roboto Slab', serif;
    }
}

/******PRODUCTOS Y SERVICIOS******/
.headerPys{
    section{
        @include flex
    }
    h2{
        font-size: 100px;
        font-family: 'Roboto Slab', serif;
    }
}

/*****TRABAJA CON NOSOTROS******/

.headerTcn{
    background-color: $backgroundColorPincipal;
    section{
        @include flex
    }
    h2{
        font-size: 100px;
        font-family: 'Roboto Slab', serif;
    }
}

/******CARTA*******/

.headerCarta{
    background-color: $backgroundColorPincipal;
    section{
        @include flex
    }
    h2{
        font-size: 100px;
        font-family: 'Roboto Slab', serif;
    }
}
